@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

:root{
    --num2: 100;
}

.flexbox-container{
    height: 200px;
    display: flex; 
    justify-content:center;
    align-items: center;
}
  
p {
    transition: --num 5s, color 5s, font-size 5s;
    color: blue;
    counter-set: num var(--num);
    font: 800 40px system-ui;
}
p::after {
    content: counter(num);
}
p:hover {
    --num: var(--num2);
    color: red;
    font-size: 20vmax;
}
body {
    margin: 2rem;
  }