@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
  
p {
    transition: --num 5s, color 5s, font-size 5s;
    color: blue;
    counter-set: num var(--num);
    font: 800 40px system-ui;
}
p::after {
    content: counter(num);
}
p:hover {
    --num: 1000;
    color: red;
    font-size: 6vmax;
}
progressbar{
    text-align: center;    
}
body {
    margin: 2rem;
  }